<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PsychServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ImageFolder</param-name>
    <param-value>C:\Users\Tim\Documents\psy\Psych_Server\Images</param-value>
  </context-param>
  <servlet>
    <servlet-name>AuthenticatingUser</servlet-name>
    <servlet-class>authentication.AuthenticatingUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAuthentication</servlet-name>
    <servlet-class>authentication.AdminAuthenticationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>profile.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageDataServlet</servlet-name>
    <servlet-class>imageData.ImageDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchInstruction</servlet-name>
    <servlet-class>parameter.FetchInstruction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitialParameter</servlet-name>
    <servlet-class>parameter.InitialParameter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ParameterServlet</servlet-name>
    <servlet-class>parameter.ParameterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Questionnaire</servlet-name>
    <servlet-class>questionnaire.Questionnaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>registration.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageFetcher</servlet-name>
    <servlet-class>imageData.ImageFetcher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FetchFields</servlet-name>
    <servlet-class>autoFill.FetchCommonFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Location</servlet-name>
    <servlet-class>location.LocationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionCategory</servlet-name>
    <servlet-class>questionnaire.QuestionCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>questionnaire.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TargetGroup</servlet-name>
    <servlet-class>targetGroup.TargetGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Training</servlet-name>
    <servlet-class>training.TrainingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageCategory</servlet-name>
    <servlet-class>imageData.ImageCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>imageData.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageFile</servlet-name>
    <servlet-class>imageData.ImageFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>report.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthentication</servlet-name>
    <url-pattern>/adminAuthentication/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticatingUser</servlet-name>
    <url-pattern>/authentication/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/userProfile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchInstruction</servlet-name>
    <url-pattern>/parameter/FetchInstruction/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitialParameter</servlet-name>
    <url-pattern>/parameter/InitialParameter/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParameterServlet</servlet-name>
    <url-pattern>/parameter/ParameterServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Questionnaire</servlet-name>
    <url-pattern>/questionnaire/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registration/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageDataServlet</servlet-name>
    <url-pattern>/imageData/ImageDataServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageFetcher</servlet-name>
    <url-pattern>/imageData/ImageFetcher/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetchFields</servlet-name>
    <url-pattern>/fetchField/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/location/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Training</servlet-name>
    <url-pattern>/training/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TargetGroup</servlet-name>
    <url-pattern>/targetGroup/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionCategory</servlet-name>
    <url-pattern>/questionCategory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/question/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/imageUpload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageCategory</servlet-name>
    <url-pattern>/imageCategory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageFile</servlet-name>
    <url-pattern>/imageFile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/report/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DefaultServletOverride</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>listings</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServletOverride</servlet-name>
    <url-pattern>/Browse</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>dao.DBSourceRegistrationListener</listener-class>
  </listener>
</web-app>